@mixin icon($topPosition, $marginLeft) {
    display: flex;
    position: absolute;
    top: $topPosition;
    width: 20px;
    height: 20px;
    margin-left: $marginLeft;
    justify-content: start;
    align-items: start;
    align-content: start;
  }

  .formContainer__loginLabel--emailIcon {
    @include icon(202px, 10px);
  }

  .formContainer__loginLabel--passwordIcon {
    @include icon(302px, 10px);

  }
  .formContainer__loginLabel--eyeIcon {
    @include icon(302px, 410px);
    cursor: pointer;
    @include icon(302px, 410px);
    cursor:pointer;
    @media only screen and (max-width: 700px) {
      @include icon(302px, 300px);
    }

    @media only screen and (max-width: 500px) {
      @include icon(302px, 280px);
    }
  }
  