@mixin icon($topPosition, $marginLeft) {
    display: flex;
    position: absolute;
    top: $topPosition;
    width: 20px;
    height: 20px;
    margin-left: $marginLeft;
    justify-content: start;
    align-items: start;
    align-content: start;
  }

  .formContainer__loginLabel--emailIcon {
    @include icon(220px, 10px);
  }

  .formContainer__loginLabel--passwordIcon {
    @include icon(318px, 10px);

  }
  .formContainer__loginLabel--eyeIcon {
    @include icon(318px, 410px);
    @media only screen and (max-width: 700px) {
      @include icon(318px, 380px);
    }
    @media only screen and (max-width: 638px) {
      @include icon(318px, 350px);
    }
    @media only screen and (max-width: 590px) {
      @include icon(318px, 300px);
    }
    @media only screen and (max-width: 510px) {
      @include icon(318px, 280px);
    }
  }
  