.contenedor {
    padding: 20px;
    text-align: center;
    transition: background-color 0.3s;
  }
  
  .modo-dia {
    background-color: #fff;
    color: #000;
  }
  
  .modo-noche {
    background-color: #333;
    color: #fff;
  }