.profileData {
  display: flex;
  align-items: center;
  margin-top: 20px;
  &__profileImg {
    height: 40px;
    width: 40px;
    border-radius: 20px;
  }
  &__profileUsername {
    margin-left: 10px;
    display: flex;
  }
}

.mediaDivider {
  border: 1px solid;
  margin-bottom: 10px;
}

.mediaItem video {
  display: block;
}

.mediaGrid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 50px;
  padding: 20px;
  &__mediaPhoto {
    justify-content: center;
    width: 100%;
    height: auto;
    cursor: pointer;
    @media screen and (min-width: 0px) {
      width: 100%;
      height: auto;
      margin: 0px;
    }
  }
}

.trashIconContainer {
  justify-content: end;
    display: flex;
    &__trashIcon {
      height: 30px;
      cursor: pointer;
    }
}
