@mixin icon($topPosition, $marginLeft) {
  display: flex;
  position: absolute;
  top: $topPosition;
  width: 20px;
  height: 20px;
  margin-left: $marginLeft;
  justify-content: start;
  align-items: start;
  align-content: start;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}
.signUpContainer {
  display: flex;
  justify-content: center;
}
.formContainer {
  border: solid;
  height: auto;
  width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 500px;
  min-width: 300px;
  border-radius: 10px;
  text-align: center;
  
  &__signUpLabel {
    margin-bottom: 5px;
    width: 82%;
    padding-right: 30px;
    &--inputTitle{
      margin-bottom: 10px
    }
    

    &__userIcon {
      @include icon(218px, 10px);
    }

    &__emailIcon {
      @include icon(319px, 10px);
    }

    &__passwordIcon {
      @include icon(415px, 10px);
    }
    &__eyeIcon {
      @include icon(415px, 410px);
      cursor:pointer;
      @media only screen and (max-width: 700px) {
        @include icon(415px, 380px);
      }
      @media only screen and (max-width: 638px) {
        @include icon(415px, 350px);
      }
      @media only screen and (max-width: 590px) {
        @include icon(415px, 300px);
      }
      @media only screen and (max-width: 510px) {
        @include icon(415px, 280px);
      }
      @media only screen and (max-width: 450px) {
        @include icon(415px, 250px);
      }
    }
  }
  &__signUpInput {
    margin-bottom: 20px;
    width: 100%;
    height: 30px;
    padding: 5px;
    padding-left: 30px;
    font-family: "medium";
    border: "solid";
    border-color: red;
    border-radius: 20px;
  }
  &__signUpButton  {
    width: 320px;
    height: 40px;
    font-family: "semiBold";
    margin-left: 10px;
    border-radius: 30px;
    cursor: pointer;

    &__googleIcon {
      display: flex;
      height: 24px;
      position: absolute;
      margin-top: -3px;
      margin-left: 0px;
      
    }
  }
}
