@font-face {
    font-family: "semiBold";
    src: url("./assets/fonts/Montserrat-semiBold.ttf");
}
@font-face {
    font-family: "medium";
    src: url("./assets/fonts/Montserrat-Medium.ttf");
}


body{
    margin:0px;
    font-family: "semiBold";
}


