.inputCommentContainer {
  border: solid;
  border-color: white;
  border-radius: 20px;
  height: auto;
  background-color: grey;
  padding: 10px;
  margin: 10px;
  width: 50px;
  min-width: 300px;
  @media only screen and (min-width: 500px) {
    width: 500px;
  }
  &__comment {
    width: 70%;
    height: 30px;
    max-width: 400px;

  }
}
